*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(../image/background.jpeg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 10px 10%;
    position: relative;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}
.login-btn{
    text-decoration: none;
    margin-right: 15px;
    color: #333;
}
.btn{
    padding: 15px 40px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg,#df4881,#c430d7);
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: .5s;
}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    font-weight: 700;
    color: #222;
}
.content p{
    margin: 10px 0 30px;
    color: #333;
    animation-delay: .5s;
}
.content .btn{
    padding: 15px 80px;
    font-size: 17px;
    animation-delay: 1s;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.img{
    width: 540px;
    position: absolute;
    bottom: 0;
    right: 10%;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup .5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.img .anim{
    animation-delay: 1.5s;
}